/* Toutes les pages */

body {
    padding-top: 65px;
    background-image: url("../data/images/watercolor-5062356_1920.jpg");
}

a:link, a:visited {
    color: black;
    text-decoration: none;
  }


/* index.html */
.col_index{
    background-color: whitesmoke;
    opacity: 0.7;
    max-width: 100%;
    max-height: 100%;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
    text-align: center;
}


.a_index:link, .a_index:visited {
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .col_index:hover, .col_index:active {
    background-color: #3e6da1;
    opacity: 0.9;
    color: white;
  }

/* information_personnelles */

.container_ip{
    background-color: whitesmoke;
    opacity: 0.9;
    max-width: 100%;
    max-height: 100%;
    padding: 3%;
    margin: 1%;
    border-radius: 10px;
    text-align: center;

}

/* competences.html */
#dropdownMenuLink, #dropdownMenuLink:active,#dropdownMenuLink:link,#dropdownMenuLink:visited{
    background:none ;
    border:none;
}

#dropdownMenuLink:hover{
    background-color: white ;
    opacity: 0.8;
    color: black;
}

/* formations.html */
.accordion-body{
    background-color: white ;
    opacity: 0.8;

}
